.container {
  height: 95vh;
  display: grid;
  grid-template-rows: auto 10px 15%;
  padding: 10px;
}
.containerWithUsersList {
  height: 95vh;
  display: grid;
  grid-template-columns: auto 10px 25%;
  grid-template-rows: auto 10px 15%;
  padding: 10px;
}